<img src="/img/kbooks.gif" width="525" height="48" alt="books">
<br />
<table class="table-borderless" style="width:550px">
	<tr>
		<td> <span class="small">オモドックの「コドモブックス」シリーズは子どもたちが大人になるための踏み台となる本を提供しています。</span></td>
</tr>
</table>
<br />

<% @products.each do |product| %>
<!--データベースのボディ開始-->
<table class="table-borderless">
  <tr align="left">
    <td colspan="2" style="vertical-align:top"><span class="text-danger">■</span><span class="text-primary"><b>『<%= product.syohin %>』</b></span>（<%= product.taisyo %>）<br />
        <hr style="height: 0px">
    </td>
  </tr>
  <tr>
    <td width="150" align="center" valign="top"> 
    <% if product.img_path.url %>
      <%= image_tag product.img_path.url %>
    <% end %>
    <br />
    </td>

    <td width="360" valign="top"> <b>著者：</b><%= product.tyosya %><br />
        <b>発売：</b>星雲社　<b>発行：</b>オモドック<br />
        <b>定価：</b>本体<%= product.hontai %>円＋税<br />
        <b>体裁：</b><%= product.teisai %><br />
        <b>内容：</b><span class="small"><%= product.naiyo %></span>
        <hr style="height: 0px">
      <a href="/backend/new">［本を購入する］</a> </td>
  </tr>
</table>
<hr style="height: 0px">
<br />

<!--データベースのボディ終了-->
<% end %>
<table style="width:580px;border:0">
	<tr><td>
	<span style="font-size: small">Omodok-Rails-Blog v1.0</span></td>
	<td align="right">

	<span class="prev">
	<%= link_to "［前の#{@kensu}件へ］", "/frontend/store?page=#{@mae}" %></span>
	<span class="next">
	<%= link_to "［次の#{@kensu}件へ］", "/frontend/store?page=#{@tugi}" %></span>

	</td></tr>
</table>
［<a href="/frontend/store2">Digital Books</a>］<br />
<br />
<span class="text-danger">■</span><span style="color:midnightblue"><b>発売元・発行元</b></span><br />
<hr style="height: 0px">
<span style="color:midnightblue"><b>発売元／</b></span><span class="text-primary"><b>星雲社</b></span><br />
		<b><span style="color:midnightblue">電話：03-5348-1283</b><br />
		<span style="color:midnightblue"><b>発行元／</b></span><span class="text-primary"><b>有限会社オモドック：出版事業部</b></span><br />
		<b><span style="color:midnightblue"> 〒150 東京都新宿区百人町2-4-5-607<br />
</span> </b>
<hr style="height: 0px">
</td></tr></table>