<h2>管理者の変更</h2>
<h4>ユーザID：<%= @user.id%>を</h4>
<hr>
<%= form_with(model: @user,:url => user_path(@user), local: true) do |f| %>
  <%= f.hidden_field :admin,value:"true" %>
  <%= f.submit "管理者:trueへ変更" %>
<% end %>
<hr>
<%= form_with(model: @user,:url => user_path(@user), local: true) do |f| %>
  <%= f.hidden_field :admin,value:"false" %>
  <%= f.submit "管理者:falseへ変更" %>
<% end %>
<hr>