<!DOCTYPE html>
<html>
  <head><meta charset="UTF-8">
    <title>BookStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script language="JavaScript">
  function rirekiFn(num){if (num !=null){history.go(num);}else{history.back();}}
  </script>
  <style>
  .omo-bgc-1{background-color:#B6BDF0}.omo-bgc-2{background-color: #DEE8FF}.omo-bgc-3{background-color: #87A3FF}.omo-c-1{color:midnightblue}
  </style>
  </head>
<body class="m-2 omo-bgc-1">
    <span  id="notice" class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
    <%= yield %>
  </body>
</html>